#roundButton {
  background-color: #333;
  padding: none;
  display: flex;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
  transition: all 0.2s cubic-bezier(0, 1.26, 0.8, 1.28);
}

#roundButton:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
}

.affixpanel {
  padding: 1px;
  background-color: transparent;
  z-index: 99;
}

.topStep {
  display: flex;
  justify-content: left;
  background-color: transparent;
}

.Colors {
  display: flex;
  flex-wrap: wrap;
}

.Green {
  background: green;
  border-top-left-radius: 100%;
  margin: auto;
  height: 13px;
  width: 13px;
  padding: 1px;
  border: 1px solid #333;
}

.Green:hover {
  background: #7cfc00;
}

.Red {
  background: #b92e34;
  border-top-right-radius: 100%;
  margin: auto;
  height: 13px;
  width: 13px;
  padding: 1px;
  border: 1px solid #333;
}

.Red:hover {
  background: red;
}

.Yellow {
  background: #dcd900;
  border-bottom-left-radius: 100%;
  margin: auto;
  height: 13px;
  width: 13px;
  padding: 1px;
  border: 1px solid #333;
}

.Yellow:hover {
  background: Yellow;
}

.Blue {
  background: blue;
  border-bottom-right-radius: 100%;
  margin: auto;
  height: 13px;
  width: 13px;
  padding: 1px;
  border: 1px solid #333;
}

.Blue:hover {
  background: #007cff;
}

.ControlPanel {
  position: absolute;
  border-radius: 100%;
  margin: 8px 0 0 8px;
  background: #333;
  width: 15px;
  height: 15px;
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

img {
  margin-top: 4px;
  border-radius: 15px;
}
